body {
  background-color: #fffbfe;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: hidden;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  body ::-webkit-scrollbar {
    width: 10px; }
  body ::-webkit-scrollbar-track {
    background: #f2f9da; }
  body ::-webkit-scrollbar-thumb {
    background: #cd3198; }
  body ::-webkit-scrollbar-thumb:hover {
    background: #ff01a8; }

main {
  flex: 1; }

div.questions {
  justify-content: center; }

div.question {
  justify-content: center; }

div.modal-container {
  color: #333;
  justify-content: center;
  text-align: center; }

div.container {
  justify-content: center; }

span.progress {
  margin: 0;
  padding: 0;
  height: 0;
  max-height: 0; }

div.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  min-height: calc(65px - 0.5rem);
  max-height: calc(65px - 0.5rem);
  text-align: center; }

.stages {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  width: 100%; }

.progress > span {
  background: #c0c0c0;
  display: inline-block;
  height: 5px;
  transform: translateY(-2.75em);
  transition: 0.3s;
  width: 0; }

/* Custom code for the demo */
html, body {
  height: 100%; }

a {
  color: #c30ca7; }

h2,
h4 {
  margin-top: 0; }

img.swatch {
  border-width: 1px;
  width: 50px;
  height: 50px;
  padding: 5px; }

div.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fddaf0;
  margin-top: 2px;
  height: calc(100vh - 65px - 1.5rem - 11px - 4px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Set the bounds in which to center it, relative to its parent/container */
  align-items: center;
  padding: 0.75rem;
  overflow-y: scroll;
  border-top: 10px solid #f2f9da;
  border-left: 10px solid #f2f9da;
  border-bottom: 10px solid #f2f9da; }

input[type="text"] {
  width: calc(45vw); }

.form {
  height: calc(100vh - 65px + 0.5rem);
  margin: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 2px;
  padding-right: 2px; }

input {
  box-sizing: border-box;
  display: block; }

div.select-control {
  position: absolute;
  bottom: 2px;
  left: 2px;
  max-width: calc(100vw - 250px); }

button.button-send {
  position: absolute;
  bottom: 2px;
  width: 120px;
  max-width: 120px;
  right: calc(2px + 184px); }

button.button-save {
  position: absolute;
  bottom: 2px;
  width: 120px;
  max-width: 120px;
  right: calc(2px + 62px); }

button.button-back {
  position: absolute;
  bottom: 2px;
  width: 60px;
  max-width: 60px;
  right: calc(2px + 62px); }

button.button-next,
button.button-backend {
  position: absolute;
  bottom: 2px;
  width: 60px;
  max-width: 60px;
  right: calc(2px + 0px); }

div > label.label:not(:last-child) {
  margin-bottom: 0;
  margin-right: 4px; }

@media (max-width: 330px) {
  div.stages,
  body {
    font-size: 0.65rem; } }

@media (min-width: 331px) and (max-width: 577px) {
  div.stages,
  body {
    font-size: 0.8rem; } }

@media (min-width: 578px) and (max-width: 815px) {
  div.stages,
  body {
    font-size: 0.9rem; } }

@media (max-width: 768px) {
  input[type="text"] {
    width: calc(80vw); } }



/*# sourceMappingURL=app.css.map*/