html, body {
  position: fixed;
  left: 50%;
  transform: translateX(-50%); }

body {
  color: #456a05;
  background-color: #fefffb;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: hidden;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  body ::-webkit-scrollbar {
    width: 10px; }
  body ::-webkit-scrollbar-track {
    background: #e6f9da; }
  body ::-webkit-scrollbar-thumb {
    background: #31cd61; }
  body ::-webkit-scrollbar-thumb:hover {
    background: #01aeff; }

img.non-selected-image {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.25; }

div.modal-container {
  color: #456a05;
  justify-content: center;
  text-align: center; }

span.progress {
  margin: 0;
  padding: 0;
  height: 0;
  max-height: 0; }

div.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  min-height: calc(65px - 0.5rem);
  max-height: calc(65px - 0.5rem);
  text-align: center; }

a {
  color: #96c30c; }

img.swatch {
  border: 2px solid rgba(26, 159, 57, 0.5);
  border-radius: 5px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 0px;
  margin: 5px; }

div.box {
  margin: 0;
  padding: 0.25rem; }

div#modal-container > img.swatch {
  width: 400px;
  height: 400px;
  align-items: center;
  margin-bottom: 0; }

div.question-text {
  padding-top: 20px;
  padding-bottom: 11px; }

div.question {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f8fbff;
  margin-top: 2px;
  height: calc(100vh - 64px - 1.5rem - 11px - 4px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Set the bounds in which to center it, relative to its parent/container */
  align-items: center;
  padding: 0.75rem;
  overflow-y: scroll;
  border-radius: 5px;
  border-top: 10px solid #e6f9da;
  border-left: 10px solid #e6f9da;
  border-bottom: 10px solid #e6f9da; }

select.question-select {
  width: 20vw; }

select.question-select:hover,
select.select.is-hovered,
div.selct > select.question-select,
div.select > select#stage-select,
button.button:hover,
button.button.is-hovered,
input.input:hover,
input.input.is-hovered,
.textarea:hover,
.textarea.is-hovered {
  border-color: #5bab72; }

input[type="text"] {
  width: calc(45vw);
  border-color: #e6f9da;
  color: #00395a;
  box-shadow: inset 0 1px 2px #efffec; }

div.select > select.question-select,
div.select > select#stage-select,
button.button {
  background-color: #feffec;
  border: 1px solid #e6f9da;
  border-color: #e6f9da;
  color: #00395a;
  text-shadow: -1px -1px 0 #efffec; }

select.question-select::-webkit-input-placeholder,
input[type="text"].input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9efeff; }

select.question-select::-moz-placeholder,
input[type="text"].input::-moz-placeholder {
  /* Firefox 19+ */
  color: #9efeff; }

select.question-select:-ms-input-placeholder,
input[type="text"].input:-ms-input-placeholder {
  /* IE 10+ */
  color: #9efeff; }

select.question-select:-moz-placeholder,
input[type="text"].input:-moz-placeholder {
  /* Firefox 18- */
  color: #9efeff; }

.form {
  height: calc(100vh - 64px + 0.5rem);
  margin: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 2px;
  padding-right: 2px; }

input {
  box-sizing: border-box;
  display: block; }

div.select-control {
  position: absolute;
  bottom: 3px;
  left: 2px;
  max-width: calc(100vw - 183px); }

button.button-send {
  width: 70px;
  max-width: 70px;
  right: calc(2px + 106px); }

button.button-save,
button.button-back {
  width: 50px;
  max-width: 50px;
  right: calc(2px + 53px); }

button.button-next,
button.button-backend {
  width: 50px;
  max-width: 50px;
  right: calc(2px + 0px); }

button.button-send,
button.button-save,
button.button-back,
button.button-next,
button.button-backend {
  position: absolute;
  bottom: 3px; }

div > label.label:not(:last-child) {
  margin-bottom: 0;
  margin-right: 4px;
  color: #0a8754; }

@media (max-width: 330px) {
  div.stages,
  div.form {
    font-size: 0.8rem; } }

@media (min-width: 331px) and (max-width: 577px) {
  div.stages,
  div.form {
    font-size: 0.87rem; } }

@media (min-width: 578px) and (max-width: 815px) {
  div.stages,
  div.form {
    font-size: 0.93rem; } }

@media (max-width: 768px) {
  select.question-select {
    width: 80vw; }
  input[type="text"] {
    width: calc(80vw); }
  span.header-text-large {
    display: none; }
  span.header-text-small {
    display: flex; }
  div.form {
    width: 100vw; } }

@media (min-width: 769px) {
  span.header-text-large {
    display: flex; }
  span.header-text-small {
    display: none; } }



/*# sourceMappingURL=app.css.map*/