body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1; }

div.questions {
  justify-content: center; }

button.button-send {
  position: absolute;
  bottom: 10vh;
  right: calc(10vh + 200px); }

button.button-save {
  position: absolute;
  bottom: 10vh;
  right: calc(10vh + 100px); }

button.button-back {
  position: absolute;
  bottom: 10vh;
  right: calc(10vh + 100px); }

button.button-next {
  position: absolute;
  bottom: 10vh;
  right: calc(10vh + 50px); }

div.question {
  justify-content: center; }

div.modal-container {
  color: #333;
  justify-content: center;
  text-align: center; }

div.container {
  justify-content: center; }

span.progress {
  margin: 0;
  padding: 0;
  height: 0; }

div.header {
  margin: 1rem; }

.stages {
  font-size: 0;
  text-align: justify; }

.stages:after {
  content: '';
  display: inline-block;
  font-size: 0;
  text-align: justify;
  width: 100%; }

input[type="radio"] {
  display: none; }

.stages label {
  box-sizing: content-box;
  background: #ffffff;
  border: solid 5px #c0c0c0;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 50px;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.stages label:after {
  content: '\2713';
  color: #0cc39f;
  display: inline-block;
  font-size: 16px; }

@media (max-width: 500px) {
  .stages label {
    border-width: 2px;
    width: 20px;
    height: 20px;
    line-height: 20px; }
  .stages label:after {
    font-size: 12px; } }

@media (min-width: 501px) and (max-width: 800px) {
  .stages label {
    border-width: 4px;
    width: 35px;
    height: 35px;
    line-height: 35px; }
  .stages label:after {
    font-size: 14px; } }

#radio_1:checked ~ .stages label[for="radio_1"] {
  border-color: #0cc39f; }

#radio_2:checked ~ .stages label[for="radio_2"] {
  border-color: #0cc39f; }

#radio_3:checked ~ .stages label[for="radio_3"] {
  border-color: #0cc39f; }

#radio_4:checked ~ .stages label[for="radio_4"] {
  border-color: #0cc39f; }

#radio_5:checked ~ .stages label[for="radio_5"] {
  border-color: #0cc39f; }

#radio_6:checked ~ .stages label[for="radio_6"] {
  border-color: #0cc39f; }

#radio_7:checked ~ .stages label[for="radio_7"] {
  border-color: #0cc39f; }

#radio_8:checked ~ .stages label[for="radio_8"] {
  border-color: #0cc39f; }

#radio_9:checked ~ .stages label[for="radio_9"] {
  border-color: #0cc39f; }

#radio_10:checked ~ .stages label[for="radio_10"] {
  border-color: #0cc39f; }

#radio_11:checked ~ .stages label[for="radio_11"] {
  border-color: #0cc39f; }

#radio_12:checked ~ .stages label[for="radio_12"] {
  border-color: #0cc39f; }

#radio_13:checked ~ .stages label[for="radio_13"] {
  border-color: #0cc39f; }

#radio_14:checked ~ .stages label[for="radio_14"] {
  border-color: #0cc39f; }

#radio_15:checked ~ .stages label[for="radio_15"] {
  border-color: #0cc39f; }

#radio_16:checked ~ .stages label[for="radio_16"] {
  border-color: #0cc39f; }

#radio_17:checked ~ .stages label[for="radio_17"] {
  border-color: #0cc39f; }

#radio_18:checked ~ .stages label[for="radio_18"] {
  border-color: #0cc39f; }

#radio_19:checked ~ .stages label[for="radio_19"] {
  border-color: #0cc39f; }

#radio_20:checked ~ .stages label[for="radio_20"] {
  border-color: #0cc39f; }

#radio_21:checked ~ .stages label[for="radio_21"] {
  border-color: #0cc39f; }

#radio_22:checked ~ .stages label[for="radio_22"] {
  border-color: #0cc39f; }

#radio_23:checked ~ .stages label[for="radio_23"] {
  border-color: #0cc39f; }

#radio_24:checked ~ .stages label[for="radio_24"] {
  border-color: #0cc39f; }

.stages label.active {
  border-color: purple !important; }

#radio_1:checked ~ .stages label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_1:checked ~ .stages label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_1:checked ~ .stages label {
    font-size: 0.9rem; } }

#radio_2:checked ~ .stages label[for="radio_1"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_2:checked ~ .stages label[for="radio_1"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_2:checked ~ .stages label[for="radio_1"] ~ label {
    font-size: 0.9rem; } }

#radio_3:checked ~ .stages label[for="radio_2"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_3:checked ~ .stages label[for="radio_2"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_3:checked ~ .stages label[for="radio_2"] ~ label {
    font-size: 0.9rem; } }

#radio_4:checked ~ .stages label[for="radio_3"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_4:checked ~ .stages label[for="radio_3"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_4:checked ~ .stages label[for="radio_3"] ~ label {
    font-size: 0.9rem; } }

#radio_5:checked ~ .stages label[for="radio_4"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_5:checked ~ .stages label[for="radio_4"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_5:checked ~ .stages label[for="radio_4"] ~ label {
    font-size: 0.9rem; } }

#radio_6:checked ~ .stages label[for="radio_5"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_6:checked ~ .stages label[for="radio_5"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_6:checked ~ .stages label[for="radio_5"] ~ label {
    font-size: 0.9rem; } }

#radio_7:checked ~ .stages label[for="radio_6"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_7:checked ~ .stages label[for="radio_6"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_7:checked ~ .stages label[for="radio_6"] ~ label {
    font-size: 0.9rem; } }

#radio_8:checked ~ .stages label[for="radio_7"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_8:checked ~ .stages label[for="radio_7"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_8:checked ~ .stages label[for="radio_7"] ~ label {
    font-size: 0.9rem; } }

#radio_9:checked ~ .stages label[for="radio_8"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_9:checked ~ .stages label[for="radio_8"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_9:checked ~ .stages label[for="radio_8"] ~ label {
    font-size: 0.9rem; } }

#radio_10:checked ~ .stages label[for="radio_9"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_10:checked ~ .stages label[for="radio_9"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_10:checked ~ .stages label[for="radio_9"] ~ label {
    font-size: 0.9rem; } }

#radio_11:checked ~ .stages label[for="radio_10"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_11:checked ~ .stages label[for="radio_10"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_11:checked ~ .stages label[for="radio_10"] ~ label {
    font-size: 0.9rem; } }

#radio_12:checked ~ .stages label[for="radio_11"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_12:checked ~ .stages label[for="radio_11"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_12:checked ~ .stages label[for="radio_11"] ~ label {
    font-size: 0.9rem; } }

#radio_13:checked ~ .stages label[for="radio_12"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_13:checked ~ .stages label[for="radio_12"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_13:checked ~ .stages label[for="radio_12"] ~ label {
    font-size: 0.9rem; } }

#radio_14:checked ~ .stages label[for="radio_13"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_14:checked ~ .stages label[for="radio_13"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_14:checked ~ .stages label[for="radio_13"] ~ label {
    font-size: 0.9rem; } }

#radio_15:checked ~ .stages label[for="radio_14"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_15:checked ~ .stages label[for="radio_14"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_15:checked ~ .stages label[for="radio_14"] ~ label {
    font-size: 0.9rem; } }

#radio_16:checked ~ .stages label[for="radio_15"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_16:checked ~ .stages label[for="radio_15"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_16:checked ~ .stages label[for="radio_15"] ~ label {
    font-size: 0.9rem; } }

#radio_17:checked ~ .stages label[for="radio_16"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_17:checked ~ .stages label[for="radio_16"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_17:checked ~ .stages label[for="radio_16"] ~ label {
    font-size: 0.9rem; } }

#radio_18:checked ~ .stages label[for="radio_17"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_18:checked ~ .stages label[for="radio_17"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_18:checked ~ .stages label[for="radio_17"] ~ label {
    font-size: 0.9rem; } }

#radio_19:checked ~ .stages label[for="radio_18"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_19:checked ~ .stages label[for="radio_18"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_19:checked ~ .stages label[for="radio_18"] ~ label {
    font-size: 0.9rem; } }

#radio_20:checked ~ .stages label[for="radio_19"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_20:checked ~ .stages label[for="radio_19"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_20:checked ~ .stages label[for="radio_19"] ~ label {
    font-size: 0.9rem; } }

#radio_21:checked ~ .stages label[for="radio_20"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_21:checked ~ .stages label[for="radio_20"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_21:checked ~ .stages label[for="radio_20"] ~ label {
    font-size: 0.9rem; } }

#radio_22:checked ~ .stages label[for="radio_21"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_22:checked ~ .stages label[for="radio_21"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_22:checked ~ .stages label[for="radio_21"] ~ label {
    font-size: 0.9rem; } }

#radio_23:checked ~ .stages label[for="radio_22"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_23:checked ~ .stages label[for="radio_22"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_23:checked ~ .stages label[for="radio_22"] ~ label {
    font-size: 0.9rem; } }

#radio_24:checked ~ .stages label[for="radio_23"] ~ label {
  font-size: 1rem; }

@media (max-width: 500px) {
  #radio_24:checked ~ .stages label[for="radio_23"] ~ label {
    font-size: 0.8rem; } }

@media (min-width: 501px) and (max-width: 800px) {
  #radio_24:checked ~ .stages label[for="radio_23"] ~ label {
    font-size: 0.9rem; } }

#radio_1:checked ~ .stages label:after {
  display: none; }

#radio_2:checked ~ .stages label[for="radio_1"] ~ label:after {
  display: none; }

#radio_3:checked ~ .stages label[for="radio_2"] ~ label:after {
  display: none; }

#radio_4:checked ~ .stages label[for="radio_3"] ~ label:after {
  display: none; }

#radio_5:checked ~ .stages label[for="radio_4"] ~ label:after {
  display: none; }

#radio_6:checked ~ .stages label[for="radio_5"] ~ label:after {
  display: none; }

#radio_7:checked ~ .stages label[for="radio_6"] ~ label:after {
  display: none; }

#radio_8:checked ~ .stages label[for="radio_7"] ~ label:after {
  display: none; }

#radio_9:checked ~ .stages label[for="radio_8"] ~ label:after {
  display: none; }

#radio_10:checked ~ .stages label[for="radio_9"] ~ label:after {
  display: none; }

#radio_11:checked ~ .stages label[for="radio_10"] ~ label:after {
  display: none; }

#radio_12:checked ~ .stages label[for="radio_11"] ~ label:after {
  display: none; }

#radio_13:checked ~ .stages label[for="radio_12"] ~ label:after {
  display: none; }

#radio_14:checked ~ .stages label[for="radio_13"] ~ label:after {
  display: none; }

#radio_15:checked ~ .stages label[for="radio_14"] ~ label:after {
  display: none; }

#radio_16:checked ~ .stages label[for="radio_15"] ~ label:after {
  display: none; }

#radio_17:checked ~ .stages label[for="radio_16"] ~ label:after {
  display: none; }

#radio_18:checked ~ .stages label[for="radio_17"] ~ label:after {
  display: none; }

#radio_19:checked ~ .stages label[for="radio_18"] ~ label:after {
  display: none; }

#radio_20:checked ~ .stages label[for="radio_19"] ~ label:after {
  display: none; }

#radio_21:checked ~ .stages label[for="radio_20"] ~ label:after {
  display: none; }

#radio_22:checked ~ .stages label[for="radio_21"] ~ label:after {
  display: none; }

#radio_23:checked ~ .stages label[for="radio_22"] ~ label:after {
  display: none; }

#radio_24:checked ~ .stages label[for="radio_23"] ~ label:after {
  display: none; }

.progress > span {
  background: #c0c0c0;
  display: inline-block;
  height: 5px;
  transform: translateY(-2.75em);
  transition: 0.3s;
  width: 0; }

#radio_2:checked ~ .progress span {
  width: calc(100% / 11 * 1); }

#radio_14:checked ~ .progress span {
  top: 50px;
  width: calc(100% / 11 * 13); }

#radio_3:checked ~ .progress span {
  width: calc(100% / 11 * 2); }

#radio_15:checked ~ .progress span {
  top: 50px;
  width: calc(100% / 11 * 14); }

#radio_4:checked ~ .progress span {
  width: calc(100% / 11 * 3); }

#radio_16:checked ~ .progress span {
  top: 50px;
  width: calc(100% / 11 * 15); }

#radio_5:checked ~ .progress span {
  width: calc(100% / 11 * 4); }

#radio_17:checked ~ .progress span {
  top: 50px;
  width: calc(100% / 11 * 16); }

#radio_6:checked ~ .progress span {
  width: calc(100% / 11 * 5); }

#radio_18:checked ~ .progress span {
  top: 50px;
  width: calc(100% / 11 * 17); }

#radio_7:checked ~ .progress span {
  width: calc(100% / 11 * 6); }

#radio_19:checked ~ .progress span {
  top: 50px;
  width: calc(100% / 11 * 18); }

#radio_8:checked ~ .progress span {
  width: calc(100% / 11 * 7); }

#radio_20:checked ~ .progress span {
  top: 50px;
  width: calc(100% / 11 * 19); }

#radio_9:checked ~ .progress span {
  width: calc(100% / 11 * 8); }

#radio_21:checked ~ .progress span {
  top: 50px;
  width: calc(100% / 11 * 20); }

#radio_10:checked ~ .progress span {
  width: calc(100% / 11 * 9); }

#radio_22:checked ~ .progress span {
  top: 50px;
  width: calc(100% / 11 * 21); }

#radio_11:checked ~ .progress span {
  width: calc(100% / 11 * 10); }

#radio_23:checked ~ .progress span {
  top: 50px;
  width: calc(100% / 11 * 22); }

#radio_12:checked ~ .progress span {
  width: calc(100% / 11 * 11); }

#radio_24:checked ~ .progress span {
  top: 50px;
  width: calc(100% / 11 * 23); }

#radio_1:checked ~ .panels [data-panel="question_1"] {
  display: block; }

#radio_2:checked ~ .panels [data-panel="question_2"] {
  display: block; }

#radio_3:checked ~ .panels [data-panel="question_3"] {
  display: block; }

#radio_4:checked ~ .panels [data-panel="question_4"] {
  display: block; }

#radio_5:checked ~ .panels [data-panel="question_5"] {
  display: block; }

#radio_6:checked ~ .panels [data-panel="question_6"] {
  display: block; }

#radio_7:checked ~ .panels [data-panel="question_7"] {
  display: block; }

#radio_8:checked ~ .panels [data-panel="question_8"] {
  display: block; }

#radio_9:checked ~ .panels [data-panel="question_9"] {
  display: block; }

#radio_10:checked ~ .panels [data-panel="question_10"] {
  display: block; }

#radio_11:checked ~ .panels [data-panel="question_11"] {
  display: block; }

#radio_12:checked ~ .panels [data-panel="question_12"] {
  display: block; }

#radio_13:checked ~ .panels [data-panel="question_13"] {
  display: block; }

#radio_14:checked ~ .panels [data-panel="question_14"] {
  display: block; }

#radio_15:checked ~ .panels [data-panel="question_15"] {
  display: block; }

#radio_16:checked ~ .panels [data-panel="question_16"] {
  display: block; }

#radio_17:checked ~ .panels [data-panel="question_17"] {
  display: block; }

#radio_18:checked ~ .panels [data-panel="question_18"] {
  display: block; }

#radio_19:checked ~ .panels [data-panel="question_19"] {
  display: block; }

#radio_20:checked ~ .panels [data-panel="question_20"] {
  display: block; }

#radio_21:checked ~ .panels [data-panel="question_21"] {
  display: block; }

#radio_22:checked ~ .panels [data-panel="question_22"] {
  display: block; }

#radio_23:checked ~ .panels [data-panel="question_23"] {
  display: block; }

#radio_24:checked ~ .panels [data-panel="question_24"] {
  display: block; }

/* Custom code for the demo */
html, body {
  height: 100%; }

a {
  color: #0cc39f; }

h2,
h4 {
  margin-top: 0; }

div.panel-container {
  height: 65vh;
  /* Set your own height: percents, ems, whatever! */
  width: 50%;
  /* Set your own width: percents, ems, whatever! */
  overflow: auto;
  /* Recommended in case content is larger than the container */
  margin: auto;
  /* Center the item vertically & horizontally */
  top: 15vh;
  left: 0;
  bottom: 0;
  right: 0;
  /* Set the bounds in which to center it, relative to its parent/container */
  width: 80vw; }

div.questions {
  height: 65vh;
  /* Set your own height: percents, ems, whatever! */
  width: 50%;
  /* Set your own width: percents, ems, whatever! */
  overflow: auto;
  /* Recommended in case content is larger than the container */
  margin: auto;
  /* Center the item vertically & horizontally */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Set the bounds in which to center it, relative to its parent/container */
  width: 80vw; }

div.question {
  height: 65vh;
  /* Set your own height: percents, ems, whatever! */
  width: 50%;
  /* Set your own width: percents, ems, whatever! */
  overflow: auto;
  /* Recommended in case content is larger than the container */
  margin: auto;
  /* Center the item vertically & horizontally */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Set the bounds in which to center it, relative to its parent/container */
  width: 80vw;
  align-items: center; }

.form {
  height: 85vh;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  margin: 0 2rem 0 2rem;
  padding: 1rem; }

input {
  box-sizing: border-box;
  display: block; }

button {
  background-color: #0cc39f;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700; }

button:hover {
  opacity: 0.8; }



/*# sourceMappingURL=app.css.map*/